.chat.clearfix
  .chat-side
    .chat-user.clearfix
      %h5
        = current_user.name
      .chat-user__actions
        = link_to new_group_path, method: :get, class: "chat-user__action" do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_registration_path, method: :get, class: "chat-user__action" do
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        %p.chat-group__name グループ1
        %p.chat-group__message ほげほげ
      %li.chat-group
        %p.chat-group__name グループ2
        %p.chat-group__message ふがふが
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2 グループ1
        %p.chat-header__users<>
          Members:
          %span.chat-header__user ユーザ1，ユーザー2
      .chat-header--right
        %a.chat-header__edit-btn(href="")Edit
    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-mssage__header.clearfix
            %p.chat-message__name ユーザー1
            %p.chat-message__time 2012/12/12 12:12:12
          %p.chat-message__body ほげほげ
    .chat-footer
      %form#new_message.new_message
        .chat-footer__body
          %textarea#message_body{rows: "1", :name => "message[body]",  :placeholder => "type a message"}
          %label.chat-footer__image
            %i.fa.fa-image
        %input{:type => "submit", :value => "send"}