@import "./reset";
@import "variable";
@import "font-awesome";
@import "font-awesome-sprockets";
@import "./messages.scss";
@import "./user.scss";

.alert-notice {
  color: #FFFFFF;
  background-color: #38AEF0;
  text-align: center;
}

.alert-alert {
  color: #FFFFFF;
  background-color: red;
  text-align: center;
}


